:root {
	--black: #687864;
	--blue-dark: #31708E;
	--blue: #5085A5;
	--blue-light: #8FC1E3;
	--white: #F7F9FB;

	--font-color: var(--white);
	--bg-color: var(--blue-dark);
	--decor-color: var(--blue-light);
}